body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg_main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgba(24, 64, 8);
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgba(24, 64, 8);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(24, 64, 8);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color: rgba(24, 64, 8, 0.8);
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

.playerform{

  background-color: rgba(24, 64, 8, 0.8);

  width: 20%;

  margin: 10px auto;

  border-radius: 20px;

  padding: 1px 0px;

}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

/* Contact */
#contact {
  padding-bottom: 65px;
}
.tm-contact-col {
  flex: 0 0 50%;
  padding-left: 40px;  
}

.tm-contact-col-r {
  padding-left: 0;
  padding-right: 30px;
}

.tm-contact-form {
  max-width: 350px;
  margin-left: 40px;
  margin-right: 40px;
}

.form-control {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  border: 1px solid #D5D6D7;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url(../img/select-arrow.png);
  padding: 14px 20px;
  padding-right: 20px;
  color: #666;
}

.tm-contact-links li {
  list-style: none;
  margin-bottom: 10px;
}

.tm-contact-link-icon {
  margin-right: 15px;
}

address {
  font-style: normal;
}

@media (max-width: 850px) {
  .tm-contact-row {
      flex-direction: column;
  }

  .tm-contact-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
  }

  .tm-contact-form {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .tm-about-row {
      flex-direction: column;
  }
  .tm-about-col {
      flex: 0 0 100%;
  }
}

@media (max-width: 1264px) {
  .tm-main-nav ul { 
      max-width: 976px;
  }
}

@media (max-width: 1020px) {
  .tm-main-nav ul {
      max-width: 732px;
  }
}

@media (max-width: 776px) {
  .tm-main-nav ul {
      max-width: 488px;        
  }
}

@media (max-width: 532px) {
  .tm-main-nav ul { 
      max-width: 244px;
  }
}

@media (max-width: 992px) {
  .tm-testimonial-row {
      flex-wrap: wrap;
  }
  .tm-testimonial-col {
      flex: 100%;
      margin-bottom: 50px;
  }    

  .tm-testimonial-col:last-child {
      margin-bottom: 0;
  }

  .tm-testimonial-col-2 {
      flex: 50%;
  }
}

@media (max-width: 635px) {
  .tm-testimonial-col-2 {
      flex: 100%;
  }
}

@media (max-width: 902px) {
  .tm-gallery {
      flex: 0 0 50%;
  }
  .tm-gallery-right {
      flex: 0 0 38%;
  }
}

@media (max-width: 805px) {
  .tm-gallery-row {
      flex-direction: column-reverse;
  }
  .tm-gallery {
      flex: 0 0 100%;
  }
  .tm-gallery-right {        
      flex: 0 0 100%;
      margin-left: 20px;
      margin-right: 20px;
  }

  .tm-gallery-right-inner {
      display: flex;
      flex-direction: column-reverse;
  }

  .tm-gallery-links {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 0;
      margin-left: 0;
  }

  .tm-gallery-links li {
      margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .tm-content-row {
      flex-direction: column;
  }

  .tm-intro-col-l {
      margin-right: 0;
  }
}

@media (max-width: 650px) {
  .tm-intro-row {
      flex-direction: column;
  }

  .tm-intro-img {
      max-width: 100%;
      max-height: none;
  }
}

@media (max-width: 540px) {
  .tm-footer {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 558px) {
  .tm-site-header {
      padding-left: 30px;
      padding-right: 30px;
  }

  .tm-tagline {
      margin-left: 30px;
  }
}